---
import Layout from '../layouts/Layout.astro';
import UploadWidgetLevel2 from '../components/UploadWidgetLevel2.astro';
---

<Layout title="Desafío 2">
  <main class="bg-black text-gray-100 min-h-screen flex flex-col items-center justify-center halloween-background">
    <div class="relative flex flex-col mx-auto items-center justify-center w-2/3 shadow-2xl bg-slate-800 p-8 rounded-lg content-center border-4 border-slate-900">
      <h1 class="text-4xl font-bold mb-6 text-purple-500 text-center">Desafío 2</h1>
      <p class="mb-8 text-lg text-center">
        Lograste pasar la primera prueba viajero. Este es el segundo acertijo:
      </p>
      <p class="mb-8 text-lg text-center italic bg-slate-900 p-4 rounded-md">
        "Portador de acero en mano, un valiente se alza. Muéstrame al guerrero que en la noche avanza."
      </p>
      <p class="mb-6 text-center text-lg">
        Resuelve el acertijo y sube la imagen que corresponda.
      </p>

      <div class="content-center">
        <UploadWidgetLevel2 nivel={2} />
      </div>
    </div>
  </main>
</Layout>
