---
import Layout from '../layouts/Layout.astro';
---

<Layout title="¡Has Conquistado la Noche!">
  <main class="bg-black text-gray-100 min-h-screen flex flex-col items-center justify-center halloween-background">
    <div class="relative flex flex-col mx-auto items-center justify-center w-2/3 shadow-2xl bg-slate-800 p-8 rounded-lg content-center border-4 border-slate-900">
      <!-- Ajuste del contenedor con borde oscuro y estilos mejorados -->
      <h1 class="text-5xl font-bold mb-6 text-green-500 text-center">¡Has Conquistado la Noche!</h1>
      <p class="mb-2 mt-4 text-xl text-center">
        Felicitaciones, alma valiente. Has superado todos mis desafíos y emergido victorioso de las sombras.
      </p>
      <p class="mb-8 text-l text-center">Gracias por probar mi proyecto, fue entretenido y desafiante desarrollarlo :).</p>
      <a href="/" class="bg-orange-600 hover:bg-orange-800 text-white font-bold py-3 px-6 rounded-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110">
        Regresar al Inicio
      </a>
      <p class="text-slate-600 mt-5"> Cloudinary x MiduDev Hackaton</p>
    </div>
  </main>
</Layout>